# roles/zabbix_agent/templates/zabbix_agentd.conf.j2

PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix-agent/zabbix_agentd.log

LogFileSize=0
Server={{ zabbix_server_host }}
Hostname={{ ansible_hostname }}
ListenPort=10050
ServerActive={{ zabbix_server_host }}
Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf
